exportPattern("^[[:lower:]]+")
S3method(as.list,snha)
S3method(plot,snha)
importFrom("stats", "cor", "cor.test","as.dist","dist","rnorm","cmdscale",
  'lm','reformulate')
importFrom("graphics", "arrows", "axTicks", "lines", "locator",
   "points","text")
importFrom("MASS","sammon")

