/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');*/
body {
    font-family: "Noto Serif", serif;
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
}
h1, h4.author, h4.date {
    text-align: center;
}
div#TOC {
    background: #eeeeee;
    padding: 20px;
}

div#TOC ul {
 list-style-type: square;   
}
pre {
    background: #eeeeee;
    font-size: 90%;
    padding: 10px;
    border-top: 2px;
    border-bottom: 2px;
}
pre.sourceCode {
    background: #eeeeee;
}
p.caption {
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div.figure {
    text-align: center;
    padding: 20px;
/*    background: #eeeeee;
    border: 2px solid #6666aa;*/
}
div.figure > img, div.figure > p {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td, th {
   padding: 10px;
}

table { 
    border-spacing: 10px;
    border-collapse: collapse;
    border-top: 2px solid;
    border-bottom: 2px solid;
    min-width: 300px;
}
table tr:nth-child(odd) td{
    background: #ffffff;
}   
/*table tr:nth-child(even) td{
    background: #cceeee;
}*/
 table tr td:first-child {
    font-weight:bold;
}   
thead {
    border-bottom: 2px solid;
}
